################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisualStudio/Assignment3/.vs/Assignment3/v15/ipch
/VisualStudio/Assignment3/.vs/Assignment3/v15
*.vcxproj
*.filters
*.user
/VisualStudio/Assignment3/Debug
*.txt
